@charset 'utf-8';

@font-face {
    font-family:"Open Sans Regular";
    src:url("/fonts/OpenSans-Regular.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular.woff") format("woff"),
        url("/fonts/OpenSans-Regular.otf") format("opentype");
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:"Open Sans Bold";
    src:url("/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("/fonts/OpenSans-Bold.woff") format("woff"),
        url("/fonts/OpenSans-Bold.otf") format("opentype");
    font-style:normal;
    font-weight:400;
}

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;




// theme styles
body {
  max-width: 124rem;
  margin: auto;
}
section {
  margin:2rem auto;
}
#introbox {
  height: 44vw;
  max-height: 882px;
  margin:auto;
  text-align: center;
}
#logo {
  max-width:16rem;
  width:100%;
}
.pagetitle {
  margin:1rem 0 1rem 0;
}
.top-bar a {
  font-size:1.5rem;
  font-family:"Open Sans Bold";
  font-style:normal;
  font-weight:400;
}
.topback {
  background-color: #efeee5;
  width:100%;
}
.width-control {
  max-width:75rem;
  margin:auto;
}
.spacedcallout {
  margin: 3rem auto;
  text-align: center;
}
.outlinecallout {
  width:60%;
  margin: 2rem auto 0.5rem;
  padding: 1rem 1rem 0.25rem;
  border: .1rem solid #efeee5;

  @include breakpoint(small) {
    width:90%;
  }
}

#mapimg {
  max-width:4.6rem;
}

#mudmetrix-footer-contact-details-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: rem-calc(0);
  padding:2rem 0;
  background-color: #18355e;

  #mudmetrix-footer-contact-details {
    @include grid-row();
    color:$dark-gray;
    padding: rem-calc(20) 0;
    a {
      color:$dark-gray !important;
    }

    .footer-left {
      @include breakpoint(small) {
        ul {
          margin-bottom: 0;
          margin-left: 0;
        }
        @include grid-column(12);
        li {
          display: block;
        }
        text-align: center;
      }
      @include breakpoint(medium) {
        @include grid-column(6);
        text-align: left;
      }
      @include breakpoint(large) {
        @include grid-column(8);
        ul {
          margin-bottom: 0;
          margin-left: 0;
        }
        li {
          display: inline-block
        }
      }
      font-size: 0.9rem;
      .fa {
        padding: 0 0.4rem;
      }
    }
    .footer-right {
      @include breakpoint(small) {
        @include hide-for-only(small);
      }
      @include breakpoint(medium) {
        @include grid-column(6);
      }
      @include breakpoint(large) {
        @include grid-column(4);
        text-align: right;
        ul {padding-top: 1.6rem;}


      }
      font-size: 0.9rem;
      .fa {padding: 0 0.4rem;}
    }
  }
}
